# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# pytest / coverage
.coverage
.cache/
.pytest_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Celery beat schedule file
celerybeat-schedule

# dotenv
.env
